* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.react-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000;
}

.dark-light-theme {
  background-color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark-light-theme div {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-image {
  width: 100px;
}
